@font-face {
    font-family: 'HakgyoansimChulseokbuTTF-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimChulseokbuTTF-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'goorm-sans-bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/goorm-sans-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* 수직 중앙 정렬 */
    height: 100vh;
    background-color: white; /* 배경을 하얀색으로 변경 */
    font-family: goorm-sans-bold, sans-serif;
    font-size: 15px;
    text-align: center;
}

#time-message{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* 수직 중앙 정렬 */
    background-color: white; /* 배경을 하얀색으로 변경 */
    font-family: goorm-sans-bold, sans-serif;
    font-size: 30px;
    
}

#meal-message{
    background-color: white; /* 배경을 하얀색으로 변경 */
    font-family: goorm-sans-bold, sans-serif;
    font-size: 30px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
    height: 11%;
    font-size: 23px;
    font-family: HakgyoansimChulseokbuTTF-B, sans-serif;
    background-color: #4CAF50; /* 배경색을 녹색으로 설정 */
            color: white; /* 글씨 색상을 흰색으로 설정 */
            padding: 10px; /* 여백 추가 */
            text-align: center; /* 텍스트 중앙 정렬 */


}

#school-logo {
    width: 48px; /* 이미지 크기 조정 */
    height: auto;
    margin-right: 10px; /* 이미지와 텍스트 사이 여백 */
}

table {
    border-collapse: collapse;
    border-radius: 20px; /* 모서리 둥글게 만들기 */
    overflow: hidden; /* 둥글게 만든 모서리가 잘리도록 설정 */
    width: 90%; /* 전체 너비를 사용 */
    height: 40%;
    margin: 0 auto; /* 수평 중앙 정렬 */
}

#meal-table {
    border-collapse: collapse;
    width: 90%;
    height: 20%;
    margin-top: 20px; /* 표 사이의 간격 */
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: 100px; /* 각 셀의 너비를 일정하게 설정 */
    height: 20px; /* 각 셀의 높이를 일정하게 설정 */
}

th {
    background-color: blue;
    color: #ffffff; /* 교시와 요일을 파란색으로 변경 */
}

td {
    background-color: #fff3c1ca;
    color: black; /* 수업 내용은 검정색 유지 */
}


