@font-face {
    font-family: 'HakgyoansimChulseokbuTTF-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimChulseokbuTTF-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'goorm-sans-bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/goorm-sans-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* 수직 중앙 정렬 */
    height: 100vh;
    background-color: white; /* 배경을 하얀색으로 변경 */
    font-family: goorm-sans-bold, sans-serif;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: HakgyoansimChulseokbuTTF-B, sans-serif;
}

#school-logo {
    width: 48px; /* 이미지 크기 조정 */
    height: auto;
    margin-right: 10px; /* 이미지와 텍스트 사이 여백 */
}


table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: blue;
    color: #ffffff; /* 교시와 요일을 파란색으로 변경 */
}

td {
    background-color: #fff3c1ca;
    color: black; /* 수업 내용은 검정색 유지 */
}

table {
    border-collapse: collapse;
    border-radius: 20px; /* 모서리 둥글게 만들기 */
    overflow: hidden; /* 둥글게 만든 모서리가 잘리도록 설정 */
}


